.question{
    width: 1033px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.question__title{
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin: 0;
margin-bottom: 80px;
}

.question__title-orange{
    color: #D40;
}
.question__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 36px;
}

.question__info-button{
    background-image: url(../../images/questionStrelkaDown.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    height: 15px;
    width: 35px;
    margin-right: 24px;
    cursor: pointer;
    position: relative;
    display: block;
}
.question__texts-title{
    color: var(--O, #D40);
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;

}
.question__texts-text{
    color: var(--gray, #4C4A5A);
font-family: Arial;
font-size: 17.602px;
font-style: normal;
font-weight: 400;
line-height: 28.163px; /* 160% */
align-self: stretch;
height: 0;
visibility: hidden;
margin: 0;
transition: all 1s;
opacity: 0;

}



.question__texts{
    display: flex;
    flex-direction: column;
    width: 950px;
}
.accordion_opened{
visibility: visible;
height: 100%;
opacity: 1;
transition: all 1s;
}


.question__info-button_open{
    background-image: url(../../images/accButtonOpen.svg);
}
.question__info:nth-of-type(10){
    margin: 0;
}
.question__feedback{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-top: 65px;
}
.question__form{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}
.question__input-form{
    width: 500px;
}
.question__input{
    width: 500px;
    background: #F4F4F4;
    height: 56px;
    border: none;
    margin-bottom: 10px;
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
outline: none;
padding-left: 24px;
box-sizing: border-box;
}
.question__save-button{
    width: 500px;
height: 56px;
color: #000;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: transparent;
border: solid 2px #D40;
cursor: pointer;
}
.question__input:last-of-type{
    margin-bottom: 25px;
    height: 90px;
}
.question__text{
    margin: 0;
    color: #000;
text-align: right;

font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 46px;
}

@media screen and (max-width: 1050px){
.question__feedback{
    flex-direction: column;
}
.question__text{
    order: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
}
.question__form{
    order: 1;
}
.question__feedback{
    text-align: left;
}
.question{
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

}

@media screen and (max-width: 780px){
    .question__feedback{
        flex-direction: column;
    }


    .question{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
.question__title{
    margin-bottom: 50px;
    
}

    }

    @media screen and (max-width: 520px){
        .question__feedback{
            margin-top: 55px;
            }
    
    
        .question{
            width: 344px;
            margin-left: auto;
            margin-right: auto;
        }
    .question__title{
        font-size: 22px;

        
    }
    .question__texts-title{
        font-size: 18px;
    }
    .question__texts-text{
        font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
    }
    .accordion_opened{
     
        background: var(--gray-super-light, #F4F4F4);
    }
    .question__texts{
        width: 260px;
    }
    .question__input{
        width: 344px;
        height: 39px;
        font-size: 14px;
    }
    .question__input:last-of-type{
        height: 60px;
    }
    .question__text{
        font-size: 22px;
    }
    .question__info{
        margin-bottom: 35px;
    }
    .question__save-button {
        width: 345px;
        font-size: 20px;
        height: 55px;
    }
    .question__form{
        width: 344px;
    }
    .question__input-form{
        width: 344px;
}
        }