.footer{
    background-image: url(../../images/FooterBack.png);
    width: 100%;
    height: 577px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.footer__columns{
    display: flex;
    flex-direction: row;
    width: 1033px;
   margin: 0 auto 0;
}
.footer__logo{
    width: 200px;
height: 80px;
flex-shrink: 0;
margin-top: 25px;
margin-bottom: 32px;
}
.footer__element{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.footer__up{
    display: none;
}
.footer__info{
    display: flex;
    flex-direction: column;
    width: 320px;
}
.footer__info-element{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__info-element_image{
    width: 38px;
height: 38px;
margin-right: 14px;
}
.footer__link{
    list-style: none;
    height: 29px;
}
.footer__links{
    padding: 0;
    margin: 0;
    margin-left: 130px;
    height: 364px;
}
.footer__link-element{
    color: #FFF;
text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 250%;
}
.footer__links-title{
    margin-top: 40px;
    font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 55px;
}
.footer__info-title{
    margin: 0;
}
.footer__feedback{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-top: 39px;
}

.footer__feedback-title{
    color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0;
margin-bottom: 70px;
}
.footer__input{
    display: flex;
width: 355px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
background-color: transparent;
border: 1px solid #FFF;
height: 46px;
color: #999;
padding-left: 44px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;;
}
.footer__save-button{
width: 148px;

background-color: transparent;
border: 2px solid #D40;
margin-top: 20px;
height: 38px;
cursor: pointer;
color: #FFF;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}


.footer__link-telegram{
    background: url(../../images/headerButtonTelegram.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: flex;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-right: 15px;
    margin-top: 20px;
    margin-left: 122px;
}

.footer__link-whatsapp{
    background: url(../../images/headerButtonWhatsapp.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: flex;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-top: 20px;
}

.footer__form-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__office{
    display: flex;
    flex-direction: column;
}
.footer__office-title{
    color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 40px;
margin-bottom: 25px;
}
.footer__office-auth{
    border: 2px solid #D40;
background: #D40;
width: 132px;
height: 38px;
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
cursor: pointer;

}
.footer__office-buttons{
    display: flex;
    flex-direction: row;
}
.footer__office-register{
    width: 210px;
    height: 38px;
    margin-left: 14px;
    border: 2px solid #D40;
    background-color: transparent;
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
cursor: pointer;
}
.footer__abouts{
    display: flex;
    flex-direction: row;
    width: 1033px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.footer__requisites{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 410px;
    margin-left: 127px;
}
.footer__requisites-text{
    margin: 0;
    margin-top: 15px;
font-size: 14px;
font-style: normal;
font-weight: 400;
}
.footer__requisites-subtitle{
    margin: 0;
    color: #DADADA;
margin-top: 5px;
font-size: 14px;
font-style: normal;
font-weight: 400;
text-decoration-line: underline;
cursor: pointer;
margin-top: 15px;
}
.footer__requisites-title{
    color: #DADADA;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0;
margin-top: 15px;
}
.footer__company-title{
    margin: 0;
    margin-top: 15px;

}

.footer__company-subtitle{
    color: #DADADA;
font-size: 14px;
font-style: normal;
font-weight: 400;
text-decoration-line: underline;
margin-top: 15px;
}
.footer__company{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.footer__documents{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: 100px;
    }
.footer__documents-title{
    margin: 0;
    margin-top: 15px;
    color: #DADADA;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer__documents-subtitle{
    color: #DADADA;
font-size: 14px;
font-style: normal;
font-weight: 400;
text-decoration-line: underline;
margin-top: 15px;
}

.footer__burger{
    display: block;        
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url('../../images/footerBurger.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}
.footer__images{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__info-title{
    color: #FFF;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 33px;
}
.footer__info-element_text{
    color: #FFF;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 135.023%;
margin: 0;

}
.footer__info-element{
    margin-bottom: 30px;
}
.footer__info-element:last-of-type{
    margin: 0;
}

.footer__abouts-mobile{
    display: none;
}
@media screen and (max-width: 1900px){
    .footer{
        background-color: #000;
        background-image: none;
    }
}
@media screen and (max-width: 1460px){
    .footer{
        background-image: url(../../images/footerBack1440.png);
        width: 100%;
        height: 577px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    .footer__columns{
        display: flex;
        flex-direction: row;
        width: 1033px;
        margin: 0 auto 0;
    }
    .footer__feedback{
        margin-left: 50px;
    }
}
@media screen and (max-width: 1400px){
    .footer{
        background-color: #000;
        background-image: none;
    }
}

@media screen and (max-width: 1260px){
    .footer__input{
        width: 200px;
    }
    .footer__link-telegram{
        margin-left: 15px;
    }
    .footer__office-register{
        width: 150px;
    }
}

@media screen and (max-width: 1052px){
   .footer__links{
    display: none;
   }
   .footer__documents{
    margin-left: 10px;
   }
   .footer__requisites{
    margin-left: 10px;
   }
   .footer__columns{
    width: 700px;
    margin-left: 30px;
   }
   .footer__abouts{
    width: 700px;
   }
   .footer__abouts{
    margin-left: 30px;
   }
}

@media screen and (max-width: 850px){
    .footer__links{
     display: none;
    }
    .footer{
        height:1100px;
    }
    .footer__documents{
     margin-left: 10px;
     text-align: left;
    }
    .footer__company{
        margin-left: 10px;
    }
    .footer__requisites{
     margin-left: 10px;
     text-align: left;
     align-items: start;
    }
    .footer__columns{
     margin-left: 30px;
     flex-direction: column;
    }
    .footer__abouts{
     flex-direction: column;
    }
    .footer__abouts{
     margin-left: 30px;
     flex-direction: column;
    }
    .footer__feedback{
        margin-left: 10px;
    }
    .footer__feedback-title{
        margin-bottom: 29px;
    }
    .footer__element{
        margin-left: 10px;
    }
    .footer__columns{
        width: 500px;
    }
    .footer__abouts{
        width: 500px;
    }
 }

 @media screen and (max-width: 768px){
    .footer__burger{
        display: block;
        margin-left: auto;
    }
    .footer__images{
        width: 100%;
    }
 }
 @media screen and (max-width: 600px){
    .footer__burger{
        display: block;
        margin-left: 75px;
    }

 }

 
 @media screen and (max-width: 550px){
    .footer__columns{
        width: 345px;
    }
    .footer__burger{
        margin-left: 17px;
    }
    .footer__abouts{
        width: 320px;
    }
    .footer__requisites{
        width: 320px;
    }
    .footer__company{
        width: 320px;
    }
    .footer__feedback{
        width: 320px;
    }
    .footer__form{
        width: 320px;
    }
    .footer__abouts-desktop{
        display: none;
    }
    .footer__abouts-mobile{
        display: flex;
    }
 }
  
 @media screen and (max-width: 405px){
.footer__company{
    margin-left: 0;
}

.footer__abouts{
    width: 330px;
    margin-top: 20px;
    margin-left: 15px;
}
.footer__element{
    width: 320px;
}
.footer__requisites{
    margin-left: 0;
}
.footer__documents{
    margin-left: 0;
    flex-direction: row;
    align-items: self-end;
}
.footer__columns{
    width: 320px;
    margin-left: 15px;
}
.footer__company-title{
    margin-top: 0;
}
.footer__requisites-title{
    margin-top: 12px;
}
.footer__documents-title{
    margin-top: 12px;
}
.footer__company-subtitle{
    margin-top: 0;
}
.footer__requisites-subtitle{
    margin-top: 12px;
}
.footer__documents-subtitle{
    margin-top: 12px;
}
.footer__requisites-text{
    margin-top: 35px;
}
.footer__documents{
    width: 300px;
}
.footer__requisites{
    margin-top: 30px;
}
.footer__feedback{
    border-bottom: 1px solid #D40;
    padding-bottom: 70px;
}
.footer__up{
    display: flex;
    background-image: url(../../images/buttonUp.svg);
    width: 73px;
height: 73px;
background-size: 73px 73px;
background-repeat: no-repeat;
padding: 0;
background-color: transparent;
border: none;
flex-shrink: 0;
cursor: pointer;
}
.footer__requisites-text{
    padding-right: 42px;
}
 }