.stages{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #141414;
    color: #FFF;
    margin-top: 78px;
}

.stages__title{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0;
}
.stages__title-orange{
    color: #D40;

}
.stages__subtitle{
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 38px;
margin-bottom: 0;
}
.stages__grid{
    display: grid;
    grid-template-columns: repeat(3, 288px);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 93px;
    grid-column-gap: 46px;
    margin-top: 80px;
}
.stages__grid-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.stages__grid-element_images{
    width: 64px;
    height: 46px;
    margin-right: 24px;
}
.stages__grid-element_text{
    color: #FFF;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}
.stages__reference{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}
.stages__reference-image{
    width: 39.356px;
height: 46px;
flex-shrink: 0;
}
.stages__reference-text{
    margin: 0;
    color: #FFF;
text-align: center;
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 782px;
}
.stages__reference-text_orange{
    color: #D40;
}

.stage__button{
    margin-top: 80px;
    margin-bottom: 90px;
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 3px solid #D40;
background: #D40;

width: 352px;
height: 70px;
align-items: center;
text-align: center;
cursor: pointer;
}

@media screen and (max-width: 1150px){
    .stages__title{
        margin-left: 40px;
    }
    .stages__grid{
        grid-template-columns: repeat(2, 250px);
    }
    .stages__reference-text{
        font-size: 20px;
        width: 600px;
    }
}

@media screen and (max-width: 700px){
    .stages__title{
        margin-left: 10px;
    }
    .stages__grid{
        grid-template-columns: repeat(1, 331px);
        gap:40px;
        margin-top: 45px;
        margin-right: auto;
        margin-left: auto;
    }
    .stages__subtitle{
        font-size: 18px;
        margin-top: 40px;
    }
    .stages__reference-image{
        display: none;
    }
    .stages__reference{
        width: 345px;
    }
    .stage__button{
        width: 331px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 57px;
    }
    /* .stages__title{
        font-size: 22px;
        text-align: center;
        width: 287px;
    } */
}
@media screen and (max-width: 400px){
        .stages__title{
        font-size: 22px;
        text-align: center;
        width: 287px;
        margin-top: 40px;
        margin-left: 0;
    }
    .stages__grid-element_images{
        width: 64px;
height: 46px;
margin-right: 33px;
    }
    .stages__grid-element_text{
        font-size: 16px;
        
    }
    .stages__reference{
        margin: 0;
    }
    .stages__reference-text{
        font-size: 18px;
        margin-top: 40px;
    }
    
}