.members{
    display: flex;
    width: 1420px;
    margin: 0 auto;
    flex-direction: column;
    
}
.members__title{
    color: #000;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin: 0;
margin-top: 70px;
}
.members__swiper{
    display: none;
}
.members__title-orange{

    color: #D40;

}

.members__list{
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 40px;
    margin-top: 70px;
}
.members__list-element{
    display: flex;
    flex-direction: column;
    background-image: url(../../images/memberFon1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 560px;
}
.members__title-element{
    color: var(--neutraul-01-ddddd, #DDD);
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}
.members__list-info{
    margin: 26px 26px 0;
}
.memebers__subtitle{
    color: #D8D8D8;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
margin-top: 3.5px;
width: 300px;
}
@media screen and (max-width: 1440px){
    .members{
        display: flex;
        width: 1033px;
        margin: 0 auto;
        flex-direction: column;
        
    }
    .members__list-element{
        display: flex;
        flex-direction: column;
        background-image: url(../../images/memberFon.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        height: 409px;
    }
    .members__list{
        display: grid;
        grid-template-columns: repeat(3, 318px);
        gap: 40px;
        margin-top: 70px;
    }
    .memebers__subtitle{
        color: #D8D8D8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: 3.5px;
    width: 203px;
    }
}
@media screen and (max-width: 1060px){
    .members__list{
        grid-template-columns: repeat(2, 318px);
        margin: 50px auto 0;
    }
    .members__title{
        text-align: center;
        margin-top: 0;
    }
    .members{
        width: 700px;

    }
}

@media screen and (max-width: 720px){
    .members__list{
        grid-template-columns: repeat(1, 318px);
        margin: 50px auto 0;
    }
    .members__title{
        text-align: center;
    }
    .members{
        width: 100%;
    }
}
@media screen and (max-width: 650px){
    .members__list{
        display: none;
    }
    .members__swiper{
        width: 344px;
        display: flex;
    }
    
    .members__list-element{
        height: 450px;
        background-image: url(../../images/memberFonLittle.png);
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: content-box;
        
    }
    .members__title{
        margin-bottom: 50px;
        margin-top: 0;
    }
    
}

@media screen and (max-width: 400px){
    .members__title{
        font-size: 22px;
    }
}