.contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1033px;
    margin: 65px auto 75px;
}
.contacts__info-element{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
}
.contacts__info-element_image{
    width: 59px;
height: 59px;
margin-right: 25px;
}
.contacts__info-title{
    color: #D40;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin: 0;
margin-bottom: 60px;
}

.contacts__info-element_text{
    color: #000;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 135.023%; /* 29.705px */
margin: 0;
max-width: 314px;
}
.contacts__info-element_text-small{
    width: 190px;
}
.contacts__info-element_text-decor{
    text-decoration-line: underline;
}
.contacts__info{
    margin-right: 42px;
}

.contacts__map{
    width: 592px;
    background-color: #D3D3D3;
    height: 358px;
}