.guarantee{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: url(../../images/backGuard.png);
    background-repeat: no-repeat;
}
.guarantee__grid-elements{
    display: grid;
    grid-template-columns: repeat(2, auto);
    

}
.guarantee__grid-wrapper_car{
    width: 504px;
}
.guarantee__grid{
    margin: 207px 201px 0 201px;
    display: grid;
    grid-template-rows: repeat(auto, auto);
    grid-row-gap: 125px;
}
.guarantee__grid-title{
    color: #D40;
font-family: Arial;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 168.49%; /* 67.396px */
text-transform: uppercase;
margin: 0;
}
.guarantee__grid-subtitle{
    color: #000;
font-family: Arial;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
margin-bottom: 0;
width: 352px;
}
.guarantee__grid-image{
    width: 504px;
height: 329px;
flex-shrink: 0;
}
.guarantee__grid-slide{
    width: 439px;
}
.guarantee__grid-text{
    width: 519px;
}
.guarantee__grid-text-right{
    text-align: right;
}
.guarantee__grid-subtitle-right{
    margin-left: 190px;
    width: 339px;
}
.swiper-button-next{
    margin-top: 2px;
    color: #D40;
    width: 36.63px;
height: 12.953px;
flex-shrink: 0;
}
.swiper-button-prev{
    margin-top: 2px;
    color: #D40;
    width: 36.63px;
height: 12.953px;
flex-shrink: 0;
}
.guarantee__grid-elements:nth-of-type(3){
    margin-top: 170px;
}
.guarantee__grid-images_swiper{
    display: none;
}

.guarantee__grid-title_span{
    color: #000;
}
.guarantee__grid-elements:nth-of-type(4){
    margin-top: 10px;
}
.guarantee__button{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 145px;
background-color: transparent;
border: 3px solid #D40;



width: 352px;
height: 70px;
padding: 11px 53px;

flex-shrink: 0;
flex-wrap: wrap;
}
.swiper-slide__car{
    width: 439px;
height: 282px;
}
.guarantee__button-span{
    color: #000;
text-align: center;
margin-top: 5px;
width: 352px;
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.guarantee__grid-images-car{
    width: 450px;
}

.guarantee__grid-slide_car{
    width: 450px;
}
@media screen and (max-width: 1100px){
    .guarantee__grid-title{
        font-size: 30px;
    }
    .guarantee__grid-subtitle{
        font-size: 20px;
        margin-top: 20px;
    }
    .guarantee__grid-subtitle-right{
        margin: auto;
        text-align: center;
    }

    .guarantee__grid-elements{
        grid-template-columns: repeat(1, auto);
        align-items: center;
        text-align: center;
    }
    .guarantee__grid-text{
        margin: auto;
        order: 0;
    }
    .guarantee__grid-image{
        order: 1;
    }
.guarantee__grid{
    gap:10px;
    margin-top: 20px;
}
.guarantee__grid-elements:nth-of-type(3) {
    margin: 0;
}
.guarantee__grid-images-car{
    order: 1;
}

  .guarantee__grid-element_swiper{
    order: 2;
  }
  .guarantee__grid-title{
    text-align: center;
  }
    .guarantee__grid-subtitle{
        margin: auto;
        margin-bottom: 10px;
    }
    .guarantee{
        background: #FFF;    }
}

@media screen and (max-width: 650px){
    .guarantee{
        text-align: left;
    }
    .guarantee__grid-title{
        font-size: 22px;
        margin: 0 ;
        text-align: left;
        width: 345px;
        margin-bottom: 24px;
    }
    .guarantee__grid-subtitle{
        margin: 0;
        text-align: left;
        width: 345px;
        margin-bottom: 25px;
        font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .guarantee__grid-images{
        display: none;
    }
    .guarantee__grid-images_swiper{
        display: flex;
        align-items: center;
        width: 345px;
        height: 225px;
        margin-right: 180px;
    }
    .guarantee__grid-elements{
        width: 345px;
    }
    /* .guarantee__grid-image{
        width: 345px;
height: 225.208px;
    } */
    .swiper-button-prev{
      font-size: var(--swiper-navigation-size);
      --swiper-navigation-size: 30px;
    }
    .swiper-button-next{
        font-size: var(--swiper-navigation-size);
      --swiper-navigation-size: 30px;
    }
    .swiper-slide__car{
        width: 345px;
        height: 225px;
        margin: 0;
    }
    .guarantee__grid-images-car{
        display: flex;
        align-items: center;
        width: 345px;
        height: 225px;
        margin-right: 180px;
    }
    .guarantee__grid-wrapper_car{
        width: 345px;
    }
    .swiper-slide__car{
        height: 223px;
        width: 345px;
    }
    .guarantee__grid-image{
        width: 345px;
        height: 225px;
    }
    .guarantee__grid{
        gap:85px;
    }
    .guarantee__grid-text{
        width: 345px;
        margin: 0;
    }
}