.advantages{
    display: flex;
    flex-direction: column;
margin: 73px auto 0;
width: 1033px;
}

.advantages__grid{
    display: grid;
    grid-template-columns: repeat(2, 505px);
    grid-template-rows: repeat(2, 350px);
    gap: 22px;
}
.advantages__title{
    color: #000;
margin: 0;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 72px;
}
.advantages__title-orange{
    color: #D40;
}
.advantages__grid-element_orange{
    background: #D40;
}
.avadntages__grid-element_title{
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
width: 320px;
margin: 0;
margin-right: 45px;
}
.advantages__grid-element_orange{
    color: #fff;
}
.advantages__grid-element{
    border-radius: 5px;
}
.avadntages__grid-element_text{
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 35px;
margin-top: 40px;
margin-bottom: 0;
width: 435px;
}

.advantages__grid-element{
    display: flex;
    flex-direction: column;
}

.advantages__grid-element_image{
    width: 63px;
    height: 63px;
}
.advantages__grid-element_up{
    display: flex;
    flex-direction: row;
    margin-top: 46px;
    margin-left: 35px;
    align-items: center;
}

@media screen and (max-width: 1150px){
    .advantages{
        width: 100%;
    }
    .advantages__grid{
        grid-template-columns: repeat(1, 900px);
        margin: 0 auto;
        grid-template-rows: repeat(4, 350px);

    }
    .avadntages__grid-element_title{
        margin-right: 400px
    }
    .avadntages__grid-element_text{
        width: 100%;
    }
    
}

@media screen and (max-width: 1000px){
    .advantages__grid{
        grid-template-columns: repeat(1, 800px);
        margin: 0 auto;
        grid-template-rows: repeat(4, 350px);

    }
    .avadntages__grid-element_title{
        margin-right: 350px
    }
}

@media screen and (max-width: 920px){
    .advantages__grid{
        grid-template-columns: repeat(1, 600px);
        margin: 0 auto;
        grid-template-rows: repeat(4, 350px);

    }
    .avadntages__grid-element_title{
        margin-right: 100px
    }
    .advantages__title{
        margin-left: 20px;
        font-size: 35px;
    }
    .advantages__grid-element:nth-last-of-type(3){
        order: 3;
    }
    .avadntages__grid-element_text{
        width: 550px;
    }
    br{
        display: none;
    }
}
@media screen and (max-width: 620px){
    .advantages__grid{
        grid-template-columns: repeat(1, 345px);
        margin: 0 auto;
        grid-template-rows: repeat(4, 236px);

    }
 
    .avadntages__grid-element_title {
       margin-left: 0;
        font-size: 21.749px;
        margin-right: 60px;
        width: 200px;
    }
    .advantages__grid-element_up{
        margin-top: 32;
        margin-left: 25px;
    }
    .avadntages__grid-element_text{
        margin: 0;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 25px;
        width: 300px;
    }
    .advantages__grid-element_image{
        width: 42.819px;
height: 42.819px;
flex-shrink: 0;
    }
.advantages__title{
    font-size: 22px;
}
    

}