.support{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 700px;
}
.support__title{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 122px;
    margin-bottom: 0;
}
.support__title-span{
    color: #D40;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.support__subtitle{
    color: #000;
text-align: center;
font-size: 24px;
width: 884px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
margin-bottom: 0;
}
.support__subtitle-orange{
    color: #D40;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 55px;
    margin-bottom: 0;
}
.support__button{
width: 504px;
border: 3px solid #D40;
background-color: transparent;
color: #000;
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 400;
height: 70px;
line-height: normal;
text-align: center;
padding-top: 11px;
padding-bottom: 11px;
margin-top: 74px;
}

@media screen and (max-width: 900px){
    .support{
        width: 100%;
    }
    .support__subtitle{
        width: 600px;
    }
}

@media screen and (max-width: 650px){
    .support__subtitle-orange{
        width: 330px;
    }
}

@media screen and (max-width: 620px){
 .support__subtitle{
    width: 450px;
 }
 .support__button{
    width: 340px;
    font-size: 20px;
 }
}

@media screen and (max-width: 470px){
    .support__subtitle{
       width: 340px;
       font-size: 18px;
       margin-top: 45px;
    }
    .support__title{
        font-size: 22px;
        margin-top: 80px;
    }
    .support__button{
       width: 340px;
       font-size: 20px;
       margin-top: 55px;
    }
    .support{
        height: 480px;
    }
    .support__subtitle-orange{
        font-size: 16px;
        margin-top: 45px;
        margin-bottom: 0;
    }
   }